section {
  font-family: "Helvetica Neue", Helvetica, Sans-serif;
  background-color: #5b9279;
  padding: 5em 3em;
  color: #eae6e5;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  color: #12130f;
}

p {
  font-size: 25px;
}

#question {
  opacity: 0.5;
}
