.block {
  height: 100px;
  width: 100px;
  display: block;
}

#container {
  background-color: #f4e8c1;
  position: absolute;
  width: 100%;
}

#teal {
  background-color: #a8d0db;
  padding: 0 50px;
  /*The first value, 0, sets the padding value for the top and bottom sides of the content. The second value, 50px, sets the padding value for the left and right sides of the content.*/
  margin: 100px;
}

#purple {
  background-color: #414073;
  padding: 50px;
  /*puts 50 pixels of space between the content of the paragraph (the text) and the
  borders, on all four sides.*/
  margin: 50px 100px;
}
